.header__logo {
    width: 142px;
    margin: 0;
    padding-bottom: 40px;
    display: block;
    object-fit: none;
    object-position: top left;
  }

@media screen and (max-width: 767px) {
  .header__logo  {
    width: 103.74px;
    height: 24.4px;
    padding-bottom: 31.6px;
    padding-left: 8px;
    margin-left: 20px;
    object-fit: contain;
  }
}