.popup__container {
  align-items: center;
  display: flex;
  background: none;
  flex-direction: column;
  position: relative;
  width: 430px;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
  }
}