.profile {
  max-width: 880px;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  color: white;
}

@media screen and (max-width: 999px) {
  .profile   {
    max-width: 640px;
  }
}

@media screen and (max-width: 767px) {
  .profile  {
    max-width: 282px;
    margin: 0 auto 30px;
    flex-direction: column;
  }
}

