.header {
    margin: 45px auto 40px;
    display: flex;
    max-width: 880px;
    border-bottom: 1px solid #545454;
  }
    

@media screen and (max-width: 999px) {
  .header  {
    max-width: 640px;
    margin: 28px auto 40px;
  }
}

@media screen and (max-width: 767px) {
  .header  {
    max-width: 320px;
    margin: 28px 0 40px;
 }
}