.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid white;
  color: #FFFFFF;
  background-image: url(../../../images/plus.png);
  background-position: center;
  background-repeat: no-repeat;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 999px) {
  .profile__add-button {
    width: 100%;
    height: 35px;
    background-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    background-size: 16px;
  }
}