.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  width: 294px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__name  {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: end;
    padding-right: 10px;
  }
}