.profile__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}


@media screen and (max-width: 767px) {
    .profile__description  {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-top: 7px
    }
  }