.element__like-button {
  background-image: url(../../../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  width: 22px;
  height: 19px;
  align-self: center;
  padding: 0;
  padding-right: 50px; /* переписать костыль */

}