.element__delete-button {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  transition: opacity .5s ease-in-out;
  cursor: pointer;
  background-image: url(../../../images/del_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.element__delete-button:hover {
  opacity: 0.6;
}