.footer {
  margin: 50px auto 60px;
  display: flex;
  max-width: 880px;
}

@media screen and (max-width: 999px) {
  .footer {
    max-width: 640px;
    margin: 48px auto 36px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 282px;
    margin-top: 35px;
  }
}