.element {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 650px) {
  .element {
    width: 282px;
  }
}