.popup__field {
  background-color: white;
  text-align: start;
  width: 358px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: none;
}

@media screen and (max-width: 767px) {
  .popup__field {
    width: 238px;
  }
}